<p id="notice"><%= notice %></p>


<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Published Refereed Journal Aticles</h4>
    <p class="list-group-item-text"><%= @survey.q1 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Accepted (Non-published) Refereed Journal Articles</h4>
    <p class="list-group-item-text"><%= @survey.q2 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Articles Submitted For Publication to Refereed Journals</h4>
    <p class="list-group-item-text"><%= @survey.q3 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Proceedings</h4>
    <p class="list-group-item-text"><%= @survey.q4 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Presentations</h4>
    <p class="list-group-item-text"><%= @survey.q5 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Other Intellectual Contributions</h4>
    <p class="list-group-item-text"><%= @survey.q6 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Funded Grant Proposals</h4>
    <p class="list-group-item-text"><%= @survey.q7 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Submitted Grant Proposals</h4>
    <p class="list-group-item-text"><%= @survey.q8 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Teaching</h4>
    <p class="list-group-item-text"><%= @survey.q9 %></p>
  </a>
</div>


<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Achievements Related to Teaching</h4>
    <p class="list-group-item-text"><%= @survey.q10 %></p>
  </a>
</div>



<h2>Course load and student feedback </h2>
<h3>Fall 2014</h3>
<table class="table table-bordered">
  <tr>
    <td><strong>Course Title</strong></td>
    <td><strong>CRN</strong></td>
    <td><strong>No. of Students</strong></td>
  </tr>
  
  <tr>
    <td><%= @survey.ct1 %></td>
    <td><%= @survey.crn1 %></td>
    <td><%= @survey.no1 %></td>
  </tr>
  
  <tr>
    <td><%= @survey.ct2 %></td>
    <td><%= @survey.crn2 %></td>
    <td><%= @survey.no2 %></td>
  </tr>
  
  <tr>
    <td><%= @survey.ct3 %></td>
    <td><%= @survey.crn3 %></td>
    <td><%= @survey.no3 %></td>
  </tr>
  
   <tr>
    <td><%= @survey.ct4 %></td>
    <td><%= @survey.crn4 %></td>
    <td><%= @survey.no4 %></td>
  </tr>
</table>

<h3>Spring 2015</h3>
<table class="table table-bordered">
  <tr>
    <td><strong>Course Title</strong></td>
    <td><strong>CRN</strong></td>
    <td><strong>No. of Students</strong></td>
  </tr>
  
  <tr>
    <td><%= @survey.ct5 %></td>
    <td><%= @survey.crn5 %></td>
    <td><%= @survey.no5 %></td>
  </tr>
  
  <tr>
    <td><%= @survey.ct6 %></td>
    <td><%= @survey.crn6 %></td>
    <td><%= @survey.no6 %></td>
  </tr>
  
  <tr>
    <td><%= @survey.ct7 %></td>
    <td><%= @survey.crn7 %></td>
    <td><%= @survey.no7 %></td>
  </tr>
  
   <tr>
    <td><%= @survey.ct8 %></td>
    <td><%= @survey.crn8 %></td>
    <td><%= @survey.no8 %></td>
  </tr>
</table>


<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Service to the University</h4>
    <p class="list-group-item-text"><%= @survey.q11 %></p>
  </a>
</div>


<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Service to the School</h4>
    <p class="list-group-item-text"><%= @survey.q12 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Service to the Department</h4>
    <p class="list-group-item-text"><%= @survey.q13 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Service to the Community</h4>
    <p class="list-group-item-text"><%= @survey.q14 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Conference Participation</h4>
    <p class="list-group-item-text"><%= @survey.q15 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Seminar, Workshop, Session, and Panel Participation</h4>
    <p class="list-group-item-text"><%= @survey.q16 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Courses of Degree Programs Completed/Proffesional Certifications Obtained or Maintained</h4>
    <p class="list-group-item-text"><%= @survey.q17 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Other</h4>
    <p class="list-group-item-text"><%= @survey.q18 %></p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Awards and Honors</h4>
    <p class="list-group-item-text"><%= @survey.q19 %></p>
  </a>
</div>


<div class="list-group">
  <a href="#" class="list-group-item ">
    <h4 class="list-group-item-heading">Faculty Member Comments</h4>
    <p class="list-group-item-text"><%= @survey.q20 %></p>
  </a>
</div>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
